[*.cs]

# AsyncFixer01: Unnecessary async/await usage
dotnet_diagnostic.AsyncFixer01.severity = suggestion

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = suggestion

# ConfigureAwaitEnforcer: ConfigureAwaitEnforcer
dotnet_diagnostic.ConfigureAwaitEnforcer.severity = warning
